body{
	background-color:#f5fbff;
} 

#blackBar{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:90px;
		background-color:#374e5c;
		margin-bottom: 10px;
		border: thick;
		color:white;
}

#mainContent{
	margin-top:100px;
	width:100%;
	border: thick;
}
#content{
	margin:auto; 
	padding:0;
	float:none;
	display:block;
	width:70%;
	text-align: center;
}

#menu{
	position:fixed;
	margin-top:150px; 
	padding:0;
	float:left;
	display:block;
	width:10%;
}
#welcome{
	margin:0; 
	padding:0;
	float:right;
	display:block;
	width:10%;
	background-color:green;
	
}
#login,#user{
	margin-top:100px;
	margin-left:auto;
	margin-right:auto;
	width: 400px;
	height: 400px;
}

fieldset {
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
	border:1px solid #888;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	width:300px;
	background-color: white;
}

legend {
	font-weight:bold;
	border:1px solid #888;
	border-right:1px solid #666;
	border-bottom:1px solid #666;
	padding: 0.5em;
	background-color:#666;
	color:#fff;
	text-shadow:0 -1px 0 #333;
	letter-spacing: 0.1em;
	text-transform:uppercase;
}

input[type='text'], input[type='password'] {
	padding-top:5px;
	display:block;
	width:175px;
	float:left;
	margin-bottom:10px;
}
label {
	padding-top:5px;
	display:block;
	text-align:right;
	float:left;
	width:75px;
	padding-right: 20px;
}
.buttonclass{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f9f9f9), color-stop(1, #e9e9e9) );
	background:-moz-linear-gradient( center top, #f9f9f9 5%, #e9e9e9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#e9e9e9');
	background-color:#f9f9f9;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#666666;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:82px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.buttonclass:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #e9e9e9), color-stop(1, #f9f9f9) );
	background:-moz-linear-gradient( center top, #e9e9e9 5%, #f9f9f9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e9e9e9', endColorstr='#f9f9f9');
	background-color:#e9e9e9;
}.buttonclass:active {
	position:relative;
	top:1px;
}
#welcome{
	
}

